@import "styles/var";

.swiper-pagination {
  --swiper-pagination-bottom: 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.swiper-bullet-custom {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(0.75rem, 0.6071rem + 0.7143vw, 1.25rem);
  opacity: 1;
  background: transparent;
  border-radius: 20px 20px 0 0;
  padding: 20px 30px;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;

  @media screen and (max-width: 767px) {
    writing-mode: vertical-rl;
  }
}

.swiper-bullet-custom-active {
  color: $default-color;
  background-color: #67bcff;
}
