@import "../../../../styles/var";
:root{
  --swiper-pagination-bottom: -1px;
}
.swiper-pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  bottom: var(--swiper-pagination-bottom);
}
.swiper-pagination-bullet {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 330px));
  max-height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 70px));
  min-width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 30px));
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(0.75rem, 0.6071rem + 0.7143vw, 1.25rem);
  opacity: 1;
  background: transparent;
  border-radius: 20px 20px 0 0;
  padding: 20px 17px;
}

.swiper-pagination-bullet-active {
  color: $default-color;
  background: #67bcff;
}