@import "styles/var";
:root{
  --swiper-pagination-bottom: -1px;
}
.swiper-pagination-wrap {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  bottom: 0;
  z-index: 1;

  .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto 10px auto ;
    padding: 0 16px;
    border-radius: 70px;
    background: #383838;
    width: fit-content!important;
    max-width: 669px;

    & :global(.swiper-pagination-bullet) {
      position: relative ;
      width: 100% !important;
      height: 100% !important;
      font-size: clamp(0.75rem, 0.6071rem + 0.7143vw, 1.25rem) !important;
      opacity: 1;
      background: transparent;
      padding: 20px 17px !important;
      color: #fff;
    }

    & :global(.swiper-pagination-bullet-active) {
      color: #67bcff;
    }
  }
}
