$default-color: #ffffff;
$primary-text-color: #383838;
$background-section-color-blue: #0e3f87;
$background-section-color-orange: #ffa450;
$option-color: #67bcff;
$widget-color: #11142d;
$widget-bg: #438ced;
$widget-color-subtitle: #808191;
$svg-widgets-color: #d7d7d7;

@mixin li-header {
  font-size: clamp(1rem, 0.8875rem + 0.5625vw, 1.5625rem);
  font-weight: 400;
  color: #383838;
}
@mixin li-footer {
  font-size: 25px;
  font-weight: 300;
  margin: 15px auto 0 auto;
}

@mixin title-hero {
  font-size: 40px;
  font-weight: 600;
  > span {
    color: $option-color;
  }
}

@mixin other-title {
  font-size: 25px;
  font-weight: 600;
}
/*

*/
@mixin button-or-link {
  width: 100%;
  max-width: 309px;
  color: $default-color;
  font-size: 24px;
  font-weight: 600;
  background-color: $option-color;
  text-align: center;
  border-radius: 75px;
  box-shadow: 0 0 38px 0 rgba(0, 0, 0, 0.25);
}
