//args for animation start


// mixins
@mixin plug {
  position: relative;
  width: 100%;
}

@mixin cube-styles {
  width: 300px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(270deg) rotateY(37deg) rotateX(-40deg);
  .front {
    transform: translateZ(150px);
    background: linear-gradient(218.58deg, rgb(59, 131, 240) 31.103%, rgb(63, 135, 245) 100%);
  }

  .top {
    transform: rotateY(180deg) rotateX(90deg) translateZ(150px);
    background: linear-gradient(-60.14deg, rgb(65, 139, 249) 44.292%, rgb(61, 139, 255) 95.724%);
  }

  .right_side {
    transform: rotateY(90deg) translateZ(150px);
    background: linear-gradient(233.39deg, rgb(47, 118, 228) 26.495%, rgb(47, 119, 230) 91.465%);
  }
}
@mixin side  {
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

@mixin second-cube-styles {
  width:200px;
  height:190px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(270deg) rotateY(30deg) rotateX(-35deg);

  .front_second{
    transform: translateZ(100px);
    background: linear-gradient(-82.76deg, rgb(62, 116, 203) 24.097%,rgb(84, 142, 226) 82.629%);
  }
  .top_second{
    width: 100%;
    transform: rotateY(180deg) rotateX(90deg) translateZ(94px);
    background: linear-gradient(-60.14deg, rgb(65, 139, 249) 44.292%, rgb(61, 139, 255) 95.724%);
  }
  .right_side_second{
    transform: rotateY(90deg) translateZ(100px);
    background: linear-gradient(236.31deg, rgb(19, 73, 166) 3.291%,rgb(16, 68, 157) 71.992%);
  }
}


