@import "styles/var";
.hero {
  &__wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 60px;

  }
  &__img{
    width: 100%;
    max-width: 1295px;
    height: auto;
  }
  &__title {
    width: 100%;
    max-width: 638px;
    @include title-hero;
  }
  &__subtitle {
    width: 100%;
    max-width: 655px;
    font-size: 25px;
    font-weight: 400;
  }
  &__btn {
    padding: 27px 33px;
    @include button-or-link;
  }
}
.reg{
  &__wrapper{
    display: flex;
    justify-content: space-around;
  }
  &__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 39px;
    width: 100%;
    max-width: 803px;
    margin-right: 10px;
    &_title{
      margin-bottom: 38px;
    }
    &_sub{
    }
    &_link{
      padding: 17px 51px;
      @include button-or-link;
    }
  }
}