@import "styles/var";
.hero {
  margin-top: 150px;

  &__wrapper {
    display: flex;
    justify-content: center;
  }
  &__title {
    width: 100%;
    max-width: 638px;
    @include title-hero;
  }
  &__subtitle {
    width: 100%;
    max-width: 655px;
    font-size: 25px;
    font-weight: 400;
  }
  &__btn {
    margin-top: 70px;
    @include button-or-link;
  }
}
