@import "src/styles/var";

.role {
  font-size: 25px;
  &__top {
    display: flex;
    align-items: center;
    gap: 50px;

    @media screen and (max-width: 1023px) {
      flex-direction: column-reverse;
      align-items: initial;
    }
  }
  &__title {
    text-align: center;
    margin-bottom: 26px;
    color: #11142d;
    font-weight: 500;
    font-size: 30px;

    @media screen and (max-width: 1023px) {
      font-size: 25px;
    }
  }
  &__robot {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    > svg {
      margin-bottom: 29px;
      width: 50%;
      height: auto;
    }
    span {
      color: #11142d;
    }

    @media screen and (max-width: 1279px) {
      width: 30%;
    }

    @media screen and (max-width: 1023px) {
      width: 100%;
      flex-direction: row;
      gap: 20px;

      > svg {
        max-width: 150px;
        width: 100%;
        margin-bottom: 0;
      }
    }

    @media screen and (max-width: 767px) {
      margin-top: 80px;
    }
  }
  &__menu {
    margin: 80px 0;

    &_item {
      background: url("../assets/img/markers.svg") 0 10px no-repeat;
      background-size: 15px 15px;
      padding-left: 25px;
      margin-bottom: 15px;
      font-size: 20px;

      @media screen and (max-width: 767px) {
        font-size: 16px;
      }
    }
  }
}
