@import "styles/var";
:root {
  --swiper-pagination-bottom: -1px;
}

.swiper-pagination-wrap {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  bottom: 0;
  z-index: 1;
  padding: 0 10px;

  @media screen and (max-width: 767px) {
    top: 100%;
    bottom: initial;
  }
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto 10px auto;
  padding: 0 16px;
  border-radius: 70px;
  background: #383838;
  max-width: 669px;

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    border-radius: 15px;
  }
}

.swiper-bullet-custom {
  position: relative;
  font-size: clamp(0.75rem, 0.6071rem + 0.7143vw, 1.25rem);
  opacity: 1;
  background: transparent;
  padding: 20px 17px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s color ease;
  text-align: center;

  @media screen and (max-width: 767px) {
    padding: 10px;
  }
}

.swiper-bullet-custom-active {
  color: #67bcff;
}
