@import "styles/var";
:root{
  --swiper-pagination-bottom: -1px;
}
.swiper-pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  bottom: var(--swiper-pagination-bottom)!important;
  background: #383838;
}
.swiper-pagination-bullet {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
  max-width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 80px)) !important;
  max-height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 70px)) !important;
  min-width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 30px)) !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: clamp(0.75rem, 0.6071rem + 0.7143vw, 1.25rem) !important;
  opacity: 1 !important;
  background: transparent !important;
  border-radius: 20px 20px 0 0 !important;
  padding: 20px 17px !important;
}

.swiper-pagination-bullet-active {
  color: $default-color !important;
  background: #67bcff !important;
}