@import "styles/var";
.card {
  position: relative;
  width: 100%;
  border-radius: 30px;
  color: $primary-text-color;
  max-width: 400px;
  flex-direction: column;
  display: flex;
  padding: 70px 20px;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255),
    rgb(115, 135, 238) 100%
  );
  transition: scale 0.7s ease;
  cursor: pointer;

  @media screen and (max-width: 1023px) {
    width: calc(50% - (50px / 2));
  }

  @media screen and (max-width: 767px) {
    width: 100%;

    background: linear-gradient(
      180deg,
      rgb(255, 255, 255),
      rgb(255, 255, 255) 100%
    );
  }

  &:hover {
    scale: 1.1;

    background: linear-gradient(
      180deg,
      rgb(255, 255, 255),
      rgb(255, 255, 255) 100%
    );

    @media screen and (max-width: 1279px) {
      scale: 1.05;
    }

    @media screen and (max-width: 767px) {
      scale: 1;
    }
  }

  &__wrapper {
    display: flex;
    gap: 50px;
    padding-top: 30px;

    @media screen and (max-width: 1279px) {
      gap: 30px;
    }

    @media screen and (max-width: 1023px) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 50px;
    }

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }
  &__flag {
    top: -28px;
    left: 17px;
    position: absolute;
    width: 100%;
    max-width: 215px;
    border: 2px solid $default-color;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    z-index: -1;
    font-weight: 400;
  }
  &__title {
    color: #11142dff;
    font-size: 24px;
    font-weight: 400;
  }
  svg {
    width: 100%;
  }
}
