@import "styles/var";
.footer {
  &_top {
    display: flex;
    border-top: 1px solid $default-color;
    padding: 30px 0;
    justify-content: space-around;

    &__list {
      > li {
        @include li-footer;
      }
    }

    &__title {
      font-size: 25px;
      font-weight: 500;
      margin-bottom: 15px;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
  }
  &_copyright {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid $default-color;
    padding: 15px 0;
  }
}
